<!-- <ngx-institute-header></ngx-institute-header> -->

<nb-card *ngIf="display">
  <nb-card-header>
    <button class="btn btn-yellow float-right" (click)="manageAnnouncement()">
      Back
    </button>
    <h3>{{ announcement.title }}</h3>
    <div *ngIf="announcement.attachment">
      <a [href]="announcement.attachment.secure_url" target="_blank">{{
        announcement.attachment.file_name
      }}</a>
    </div>
    <div>
      <p><strong>Date: </strong>{{ announcement.date }}</p>
      <p><strong>Batches: </strong>{{ announcement.batchCodes.join(',') }}</p>
      <p><strong>Categories: </strong>{{ announcement.categories.join(',') }}</p>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div style="font-weight: bold;">Announcement Details:</div>
    <div [innerHTML]="announcement.text | safeHtml"></div>
  </nb-card-body>
</nb-card>
