<!-- <ngx-institute-header></ngx-institute-header> -->

<nb-card *ngIf="display">
  <nb-card-body>
    <h5 style="color: #ffd500;">START NEW THREAD</h5>
    <hr />

    <form [formGroup]="announcementForm" (submit)="onSubmit()">
      <div class="form-group-inline">
        <label for="title">TITLE</label>
        <input nbInput type="text" id="title" formControlName="title" fullWidth />
        <!-- <div *ngIf="announcementForm.get('title').invalid && announcementForm.get('title').touched">
          <small class="error">*Title is required</small>
        </div> -->
      </div>

      <br />

      <angular-editor
        rows="2"
        placeholder="Enter text here..."
        formControlName="text"
      ></angular-editor>

      <br />

      <div>
        <label>SELECT ATTACHMENT</label>
        <input
          type="file"
          nbInput
          fullWidth
          status="basic"
          value="select Attachment"
          (change)="onFilePicked($event)"
        />
      </div>

      <hr />
      <div class="row">
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-6">
              <nb-select
                placeholder="Select Batches"
                fullWidth
                formControlName="batchCodes"
                multiple
                status="warning"
              >
                <nb-option [value]="undefined">--Select Batch--</nb-option>
                <nb-option *ngFor="let i of batches" value="{{ i.batchCode }}">{{
                  i.batchCode
                }}</nb-option>
              </nb-select>
            </div>

            <div class="col-sm-3">
              <nb-checkbox status="warning" (checkedChange)="check($event)">SELECT ALL</nb-checkbox>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-6">
              <nb-select
                placeholder="Select Category Tags"
                multiple
                formControlName="categories"
                fullWidth
                status="warning"
              >
                <nb-option [value]="undefined">--Select Category--</nb-option>
                <nb-option *ngFor="let i of institute.category" value="{{ i }}">{{ i }}</nb-option>
              </nb-select>
            </div>
            <div class="col-sm-6">
              <input type="date" nbInput fullWidth formControlName="date" placeholder="Date" />
              <!-- <div
                *ngIf="announcementForm.get('date').invalid && announcementForm.get('date').touched"
              >
                <small class="error">*Date is required</small>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-sm-2 pt-5" style="border-left: 1px solid lightgrey;">
          <button class="btn btn-yellow-black float-right">
            Announce &nbsp;&nbsp;<img
              src="../../../../assets/img/rarrow.png"
              width="20px"
              height="20px"
            />
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header style="background: #ffd500;">DISCUSSION THREADS</nb-card-header>
  <nb-card-body>
    <div class="table-responsive" *ngIf="announcements.length > 0; else noAnnouncement">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Text</th>
            <th>Attachment</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of announcements; let i = index">
            <td>
              <span>Announcement {{ i + 1 }}</span>
            </td>
            <td>
              <span> {{ item.title }}</span>
            </td>
            <td>
              <div [innerHTML]="item.text | safeHtml"></div>
            </td>
            <td>
              <a [href]="item.attachment.secure_url" *ngIf="item.attachment">{{
                item.attachment.file_name
              }}</a>
            </td>
            <div>
              <button nbButton status="danger" (click)="onDelete(item._id)">Delete</button>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAnnouncement>
      <p class="text-center pt-5">No Announcements</p>
    </ng-template>
  </nb-card-body>
</nb-card>
