<div class="row">
  <div class="col-md-8 mx-auto">
    <nb-card>
      <nb-card-body>
        <div class="text-center">
          <img
            src="../../../../../assets/img/warning.png"
            width="100px"
            height="auto"
            alt="WARNING"
          />
          <br />
          <h2>BEFORE WE BEGIN!</h2>
          <br />
          <p>YOU NEED TO UPGRADE YOUR PLAN TO <strong>VALUE/POWER</strong> TO USE EDUATLAS LIVE.</p>
          <br />
          <div class="text-left" style="width: 75%;">
            <p class="note">PLEASE NOTE:</p>
            <ul style="list-style-type: disc;">
              <li>
                EDUATLAS LIVE OFFERS SEEMLESS INTEGRATION OF YOUR CLASSES CONDUCTED THROUGH ZOOM.US.
                TO BE ABLE TO USE THIS FEATURES YOU NEED TO BE AN ACTIVE ZOOM.US USER.
              </li>
              <li>
                ANY CHARGES OR PLANS OF ZOOM.US ARE SOLELY ON THEIR DISCRETION AND EDUATLAS IN NO
                PART IS ASSOCIATED OR BOUND BY TERMS & CONDITIONS OF ZOOM.US.
              </li>
              <li>
                ONCE YOU ARE UPGRADED TO THE CORRECT PLAN, YOU WILL NEED TO INTEGRATE YOUR ZOOM ID
                WITH EDUATLAS. THIS WILL BE REQUIRED ONCE AND CAN BE USED FOR ALL BRANCHES THAT ARE
                IN VALUE/POWER PLAN.
              </li>
            </ul>
          </div>
          <br />
          <button class="btn btn-yellow-black" (click)="upgrade()">
            <strong>UPGRADE YOUR EA PLAN HERE</strong>
          </button>
          <br />
          <br />
          <P>NEED A ZOOM.US ACCOUNT? <a href="https://zoom.us/">CLICK HERE</a></P>
          <br /><br />
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
